.menu {

    height: 40px;
    display: flex;
    background-color: rgb(249, 249, 249);
    padding: 20px 0px;
    margin: 0px 10px;
    z-index: 7;
    position: absolute;

}

#logo {
    height: 50px;
    width: 214px;
    margin-left: 20px;
}

#forum {
    text-decoration: none;
}

#news {
    text-decoration: none;
    margin-left: 15px;
}

#shop {
    text-decoration: none;
    margin-left: 15px;
}

#lola {
    text-decoration: none;
    margin-left: 15px;
}

.container-1 input#search {
    width: 300px;
    height: 50px;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    border-radius: 5px;
    margin-right: 880px;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-1 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.container-1 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
    color: #65737e;
}

.thing {

    display: flex;
    list-style-type: none;
    padding: 15px;
    justify-content: space-between;
    margin-left: 565px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    height: 40px;
    width: max-content;
    position: absolute;

}



.textapp {
    text-decoration: none;
    margin-left: 51px;
    padding-top: 21px;
    height: 30px;
    margin-top: -48px;
    position: absolute;

}

.apple {
    height: 30px;
    width: 30px;
    padding-top: 10px;


}

.body {
    display: flex;
}

.firstbar {
    padding: 1px 20px;
    background-color: rgb(232, 235, 236);
    border-radius: 20px;
    margin-top: 119px;
    margin-left: 30px;
    width: 150px;
    height: 5%;
    position: fixed;
    text-align: left;
    position: relative;

}

.midbar {
    height: 264px;
    width: 10%;
    padding: 44px 46px;
    font-size: 2ch;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

#m1 {
    text-decoration: none;
}

#office {
    text-decoration: none;
    padding-top: 20px;
}

#pic {
    text-decoration: none;
}

#movie {
    text-decoration: none;
}

#dever {
    text-decoration: none;
}

#giaitri {
    text-decoration: none;
}

#game {
    text-decoration: none;
    padding: 189px 20px;
    font-size: 2ch;
    top: 325px;
    position: absolute;
}




#control {
    position: relative;
    margin-top: -11px;

}

.Endbar {
    background-color: aliceblue;
    height: 9px;
    width: 79px;
    padding: 17px 31px;
    margin-top: 328px;
    size: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #c5c5c5;
    text-align: start;
    margin-left: 20px;
}

#sidebar {
    width: 200px;
    border-radius: 15px;
    margin-left: -38px;
    margin-top: 40px;
    
}

.leftslide{
    background-color: rgb(131, 109, 212);
    margin-top: 127px;
    height: 270px;
    width: 830px;
    margin-left: 93px;
    border-radius: 30px;
    text-align: left;
    justify-content: space-between;
}

.error  {
    text-decoration: none;
    color: aliceblue;
    font-size: xx-large;
}

.trick>title{
    text-decoration-line: none;
    list-style-type: none;
    

}

.tittle{
    padding: 20px 30px ;
    justify-content: space-between;
    size: 40px;
    height: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.tittle li a{
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
}

.tittle li{
    list-style-type: none;
    padding-top: 35px;
    
}

.introimg> .tittle{
    padding-left: 30px;
    display: flex   ;
}

